---
import { PATHS } from '@src/constants/paths';
import MainTitle from '../atoms/MainTitle';
import SkillsOnTerminal from './skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
const id = PATHS.INDEX_SKILLS.replace('/#', '');
---

<section id={id}>
	<SkillsOnTerminal />
	<div class="text-content">
		<MainTitle contenido="Skills" margin="1rem" />
		<p>
			Escribe aquí tus habilidades, recuerda mencionar las más relevantes
			y evitar sobrecargar las habilidades , este apartado es muy
			importante para dar a conocer lo que sabes y es una parte importante
			para las empresas, pero si colocas demasiado, muchas veces se
			pensará que es exagerado, mejor coloca en lo que más te destaques y
			a la hora de postularte puedes mencionar las otras cosas que también
			sabes.
		</p>
	</div>
</section>
