---
import { PATHS } from '@src/constants/paths';
import SocialIcons from '../SocialIcons.astro';
import MainTitle from '../atoms/MainTitle';
const id = PATHS.INDEX_ABOUT_ME.replace('/#', '');
import './about.css';
---

<section id={id} class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<MainTitle contenido="About me" margin="2rem" />
			<p class="about__text">
				Habla sobre tí, tu profesión, lo que te gusta, cual es tu
				pasatiempos, que haces en tu ratos libres, que cosas te
				apasionan y has aprendido, ¿porqué elegiste está profesión?,
				¿Tienes mascota? ¿Te gusta ir a caminar al parque? ¿Estudiaste
				algo más? ¿En que eres bueno?
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
