---
import LayoutDashboard from '../layouts/LayoutDashboard.astro';

import DashboardPanel from "../components/DashBoard/DashboardPanel.astro"
import DashboardContent from '../components/DashboardContent/DashboardContent';
---
<script>
    import { authGuard } from '../utils/authGuard/authGuard'
    authGuard();
</script>

<LayoutDashboard title="dashboard">
    <section class="flex ">

        <DashboardPanel client:load />
        <DashboardContent />
    </section>


</LayoutDashboard>
