---
import LayoutDashboard from '../layouts/LayoutDashboard.astro';

import DashboardPanel from "../components/DashBoard/DashboardPanel"
---
<script>
    import { authGuard } from '../utils/authGuard/authGuard'
    authGuard();
</script>

<LayoutDashboard title="dashboard">
	<section>
		<DashboardPanel client:load/>
	</section>
</LayoutDashboard>
