---
import LayoutDashboard from '../layouts/LayoutDashboard.astro';
import DashboardContent from '../components/DashboardContent/DashboardContent.astro';
import DashboardPanel from '@src/react/components/dashboard-panel/DashboardPanel.jsx';
---

<LayoutDashboard title="dashboard">
	<section class="flex">
		<DashboardPanel client:load />
		<DashboardContent />
	</section>
</LayoutDashboard>
