---
import About from '@organisms/About/About.astro';
import BlogHome from '@organisms/BlogHome.astro';
import { mainMenu } from '@data/menuData';
import Footer from '@organisms/Footer/Footer.astro';
import Header from '@organisms/header/Header.astro'
import Hero from '@organisms/hero/Hero.astro';
import Skills from '@organisms/skills/Skills.astro';
import Layout from '@layouts/Layout.astro';
import Portfolio from '@organisms/Portfolio/Portfolio';
---

<Layout title="Jhon Doe | Fullstack Developer">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Hero />
		<About />
		<Skills />
		<Portfolio client:load/>
		<BlogHome />
	</main>
	<Footer/>
</Layout>
