---
import About from '../components/About/About.astro';
import BlogHome from '../components/organisms/BlogHome.astro';
import { mainMenu } from '../components/data/menuData';
import Footer from '../components/organisms/Footer/Footer.astro';
import Header from '../components/organisms/header/Header.astro'
import Hero from '../components/organisms/hero/Hero.astro';
import Skills from '../components/skills/Skills.astro';
import Layout from '../layouts/Layout.astro';
import Portfolio from '../components/organisms/Portfolio/Portfolio';
---

<Layout title="Jhon Doe | Fullstack Developer">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Hero />
		<About />
		<Skills />
		<Portfolio client:load/>
		<BlogHome />
	</main>
	<Footer/>
</Layout>
