---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/react/LoginForm/LoginForm .jsx';
---

<Layout title="Login">
	<section
		class="flex flex-col w-full min-h-[100dvh] justify-center items-center text-white"
	>
		<LoginForm client:load />
	</section>
</Layout>
