---
// Import necessary components and styles
import CardPortfolioDashboad from '@molecules/CardPortfolioDashboad/CardPortfolioDashboad';
import './dashboard-content.css';
---

<section class="portfolio-content" >
  <h1 class="portfolio-content__title">Bienvenido Jhon Doe</h1>
  <CardPortfolioDashboad client:only />
</section>
