---

import DashboardForm from "../DashboardForm/DashboardForm";
---


<script>
  const dialog = document.querySelector("dialog");
  const btnOpenOverlay = document.getElementById("open-verlay");
  const btnCloseOverlay = document.getElementById("close-overlay");

  btnOpenOverlay.addEventListener("click", () => {
  dialog.showModal();
});

btnCloseOverlay.addEventListener("click", () => {
  dialog.close();
});

</script>

<div class="bg-primary10 h-auto min-h-[100dvh] w-[14rem] py-10 flex flex-col items-center gap-10">
  <div class="px-4 flex flex-col gap-3">
    <img
      src="../img/jhon-doe.webp"
      alt="foto de perfil de Jhon Doe"
      class="w-[150px] h-[150px] min-w-[150px] min-h-[150px] rounded-full"
    />
    <button
      id="open-verlay"
      class="rounded-full text-sm text-center px-3 py-3 bg-primary60 cursor-pointer hover:opacity-[0.75]"
    >
      Actualizar perfil
    </button>
  </div>
  <ul class="text-white flex flex-col gap-10 w-full py-5">
    <li>
      <a
        class="group px-2 py-5 w-full flex items-center gap-[10px] hover:bg-[#5F4E88]"
        href="#"
      >
        <iconify-icon
          class="text-primary90 group-hover:text-[#59ed83]"
          icon="ph:cards-bold"
        ></iconify-icon>
        Cards Proyectos
      </a>
    </li>
    <li>
      <a
        class="group px-2 py-5 w-full flex items-center gap-[10px] hover:bg-[#5F4E88]"
        href="#"
      >
        <iconify-icon
          class="text-primary90 group-hover:text-[#59ed83]"
          icon="carbon:blog"
        ></iconify-icon>
        Últimos posts
      </a>
    </li>
  </ul>
  <dialog class="bg-primary10 text-white px-16 py-10 z-30" >
    <DashboardForm />
    <button id="close-overlay">OK</button>
  </dialog>
</div>
