.form-register {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 36rem;
    width: 100%;
    background-color: var(--primary-20);
    padding: 1.5rem;
    border-radius: 16px;
    min-height: 477.5px;

}
.form-register>*:not(:last-child, span) {
    margin-bottom: 1.3rem;
}
.label {
    font-size: 1.7rem;
}
.input {
    padding: 1rem 1.5rem;
    color: black;
    font-size: 1.8rem;
}
.login-button {
    font-size: 1.8rem;
    padding: 1rem;
    background: var(--primary-60);
    border-radius: 11px;
    cursor: pointer;
    transition: .35s opacity;
}
.login-button:hover {
    opacity: 0.75;
}
.login-button:active {
    opacity: 0.5;
}
.error-message{
    color: tomato;
}
.helper__text{
    font-size: 1.4rem;
}

.helper__text--warning{
    color: tomato;
}
.helper__text--alert{
    color:gold;
}
.verification__container{
    display: flex;
    width: 100%;
    .input-verification{
        flex: 1;
        padding: 1rem 1.5rem;
        max-width: 24rem;
    }
    .button__verification{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3rem .4rem;
        background: var(--primary);
        border-radius: 0 7px 7px 0;
        font-size: var(--text-x-large);
        transition: 0.35s opacity;
        max-width: 85px;
        color: var(--primary-90);
        font-size: 1.6rem;
    }
}