/* Container  */
.text-field {
	display: flex;
	flex-direction: column;
}

.text-field label {
	position: relative;
	display: flex;
	align-items: center;
	height: 57px;
	width: 100%;
	background: var(--text-field-background);
	padding: 22px 16px 16px 16px;
	flex-wrap: wrap;
	transition-duration: 0.35s;
	transition-property:  padding, box-shadow;
	gap: 0 16px;
	user-select: none;
	border-radius: 8px;
}
.text-field:focus-within label,
.text-field:active label {
	box-shadow: 0 0 0 1.2px var(--text-field-primary-color);
}

.text-field label[is-valid='false'] {
	box-shadow: 0 0 0 1.2px var(--text-field-error);
}

/* Label  */
.text-field label[is-valid='false'] span {
	color: var(--text-field-error);
}
.text-field label span {
	width: max-content;
	height: 22px;
	font-size: var(--text-field-label-up-size);
	max-width: 195px;
	display: flex;
	align-items: center;
	font-weight: 600;
	color: var(--text-field-label-color);
	position: absolute;
	top: 0;
	transition-duration: 0.35s;
	transition-property: top, transform, font-size, font-weight, color;
}

/* Input  */
.text-field label input {
	outline: none;
	height: 25px;
	min-width: 80px;
	flex: 1;
	font-size: var(--text-field-size);
	color: var(--text-field-color);
	background: none;
	letter-spacing: 0px;
	transition: 0.35s letter-spacing;
	pointer-events: all;
}
.text-field label input[type='password'] {
	letter-spacing: -1px;
}
.text-field label input::placeholder {
	color: var(--text-field-color);
	opacity: 0.5;
}
.text-field label input::-ms-reveal {
	display: none;
}

/* Base state  */
.text-field
	label:has(input:invalid):not(:has(input:focus-within)):not(
		:has(input:active)
	) {
	padding: 16px;
	span {
		height: 25px;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 500;
		font-size: var(--text-field-size);
	}
}
.text-field
	label:has(input:invalid):not(:has(input:focus-within)):not(
		:has(input:active)
	)
	input::placeholder {
	opacity: 0;
}
/* support icons  */
.text-field label div svg {
	color: var(--text-field-color);
}

.text-field label div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	max-height: 25px;
}
nordpass-icon{
	margin-right: -19px;
}
/* Supprt text  */
.text-field .support-text {
	width: 100%;
	padding-left: 16px;
	height: 16px;
	font-size: var(--text-field-supporting-text-size);
	color: var(--text-field-primary-color);
	font-weight: normal;
	transition: .35s color;
}
.text-field .support-text:empty{
	color: #0000;
}
.text-field .support-text[is-valid='false'] {
	color: var(--text-field-error);
}
